.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.clear {
  clear: both
}

/* THESE RULES APPLY TO THE HIGH REZ DISPLAY,
AND CASCADE DOWN TO THE MEDIUM AND LOW REZ DISPLAYS */

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  color: rgb(100,100,100);
}

header {
  width: 100%;
  height:  60px;
  background-color:  rgb(0, 0, 0);
  padding: 5px 0;
}
#logo img {
  width: 200px;
  padding-top: 5px;
  margin-left: 20px;
}
.container {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(150,0,0);
}
nav {
  float:right;
  margin-top: 18px;
}
nav li {
  display: inline;
  margin-right: 30px;
  font-weight: bold;
  font-size: 100%;
}
nav li a {
  color: rgb(225, 225, 225);
  text-decoration: none;//To get rid of the "a" default underline.
}
input, .search {
  border-radius: 5px;
  height: 20px;
  margin-top: 15px;
  border: 1px solid rgb(150,150,150);
  width: 140px;
  background: rgb(255,255,255) url(images/search.png) no-repeat 4px 4px;
  padding: 4px 4px 4px 30px;
  margin-right: 20px;
}
section.hero {
  width: 100%;
  max-height: 400px;
  padding: 5px 0;
  background: url(images/herobg.jpg);
  background-size: 100% 100%;
}
.herocontent {
  width: 390px;
  margin-left: 20px;
  padding-top: 40px;
  color: rgb(255, 255, 255);
  margin-right: 10px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.75) ; /* Shadow */
}
section.hero h1 {
  font-size: 325;
  margin-bottom: -10px;
  font-family: 'Oleo Script Swash Caps', cursive;
  line-height: 1em;
  font-weight: normal;
}
section.hero p{
  margin-bottom: 60px;
}
.heroimage{
  margin: 70px 0 0 20px;
}
.button {
  width: 225px;
  height: 45px;
  background: url(images/buttonbg.jpg);
  text-align: center;
  font-size: 150%;
  padding: 20px 5px 5px;
  margin: 5px 5px 0 0;
  border:  1px solid rgb(205,101,14);
  border-radius: 5px;
  /*All these shadows must be in a single line to work.!*/
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5), 0px 2px 0px 0px rgba(185, 91, 12, 1),inset 0px 1px 0px 0px rgba( 255,255,255,0.5);
  cursor: pointer; /* Important! To get the pointing hand over the button.*/
}
.button a {color: white; text-decoration: none; text-shadow: 2px, 2px, 2px 0px rgba(0,0,0,0.25);
}
.button:hover {
  background: url(images/buttonbg_o.jpg);
}
